* {
  text-align: center;
}
  
  h1 {
    text-align: center;
    color: darkcyan;
    font: sans-serif;
    margin: 50px; 
  }

  body {
    background-color: lightblue;
    flex-direction:row;
    align-items: center;
    color: lightcyan;
    justify-content:center; 
  } */

 .fade-in-image {
  animation: fadeIn 2s;
}

.fade-out-image {
  animation: fadeOut 2s;
} 
